<form [formGroup]="form" (ngSubmit)="startGame()">
<mat-grid-list cols="10" rowHeight="40:21">

    <mat-grid-tile
        [colspan]="10"
        [rowspan]="1">
    </mat-grid-tile>


  <mat-grid-tile
  [colspan]="5"
  [rowspan]="3">
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select 
        formControlName="categorysForm"
        required>
        <mat-option *ngFor="let category of categorys" [value]="category">{{category}}</mat-option>
        </mat-select>
    </mat-form-field>
    
  </mat-grid-tile>
    
  <mat-grid-tile
  [colspan]="5"
  [rowspan]="3">
    <mat-form-field appearance="fill">
      <mat-label>gamemode</mat-label>
      <mat-select
      formControlName="gamemodeForm"
      required>
        <mat-option *ngFor="let gamemode of ['Single Player', 'Two Players', 'Against Computer']"
        [value]="gamemode">{{gamemode}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>



  <mat-grid-tile
  [colspan]="5"
  [rowspan]="3">
    <mat-form-field appearance="fill">
        <mat-label>Amount of Cards</mat-label>
        <mat-select 
        formControlName="amountsForm"
        required>
        <mat-option *ngFor="let amount of cardAmount" [value]="amount">{{amount}}</mat-option>
        </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile
  [colspan]="5"
  [rowspan]="3">
  <div
  [style.color] = "'white'">
    Difficulty</div>
    <mat-slider></mat-slider>
  </mat-grid-tile>

  <mat-grid-tile 
  [colspan]="10"
  [rowspan]="1">
    <button type="submit"
    mat-stroked-button color="accent" 
    color='primary'
    [disabled]="form.invalid"
      >Start the Game
  </button>
  </mat-grid-tile>


</mat-grid-list>
</form>