<!-- Zuerst werden Spalten und Zeilen entsprechend der Kartenanzahl gesetzt, siehe ImageReceived()
     anschließend werden mit ngFor alle Bilder aus dem Array gesetzt
     Dabei wird ihnen ein index verliehen um sie ihrer Position zuordnen zu können
     mit ngIf wird gecheckt ob das Bild offen oder verdeckt liegt, 
     nur verdeckte Bilder lassen sich klicken, bei offenen ist dieses Event nicht vorhanden -->
  <mat-grid-list 
  [cols]="colAmount" 
  [rowHeight]="rowVerhaelt">
    <mat-grid-tile *ngFor="let image of getPics(); let i = index">
      <div *ngIf="image.open">
        <img src="{{image.url}}" alt="Card">;
      </div>
      <div *ngIf="!image.open">
        <img src="https://d2j6dbq0eux0bg.cloudfront.net/images/1107006/475259314.jpg" 
        alt="Closed Card"
        (click)="image.open=imgClicked(i)">;
      </div>
    </mat-grid-tile>
  </mat-grid-list>
