<!-- Bedingung muss noch ersetzt werden -->

<div *ngIf="picServ.allImages.length===20">
  <mat-grid-list 
  cols="5" 
  rowHeight="5:3.4">
    <mat-grid-tile *ngFor="let image of picServ.allImages">
      <img src="{{image.url}}" alt="Card">;
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="picServ.allImages.length===30">
  <mat-grid-list cols="6" rowHeight="6:4">
    <mat-grid-tile *ngFor="let image of picServ.allImages">
      <img src="{{image.url}}" alt="Card">;
    </mat-grid-tile>
  </mat-grid-list>
  </div>

<div *ngIf="picServ.allImages.length===40">
  <mat-grid-list cols="8" rowHeight="8:7">
    <mat-grid-tile *ngFor="let image of picServ.allImages">
      <img src="{{image.url}}" alt="Card">;
    </mat-grid-tile>
  </mat-grid-list>
  </div>

  <div *ngIf="picServ.allImages.length===54">
    <mat-grid-list cols="9" rowHeight="9:7.5">
      <mat-grid-tile *ngFor="let image of picServ.allImages">
        <img src="{{image.url}}" alt="Card">;
      </mat-grid-tile>
    </mat-grid-list>
    </div>