<!-- Bedingung muss noch ersetzt werden -->

<!-- 18 Karten -->
<div *ngIf="true">
<mat-grid-list cols="6" rowHeight="1:1.15">
</mat-grid-list>
</div>

<!-- 24 Karten -->
<div *ngIf="true">
  <mat-grid-list cols="6" rowHeight="5:4">
  
  </mat-grid-list>
  </div>

  <!-- NOCH NICHT FERTIG -->
  <!-- 30 Karten -->
<div *ngIf="true">
  <mat-grid-list cols="6" rowHeight="5:4">
  
  </mat-grid-list>
  </div>

  <!-- 36 Karten -->
<div *ngIf="true">
  <mat-grid-list cols="6" rowHeight="5:4">
  
  </mat-grid-list>
  </div>