<mat-grid-list cols="12" rowHeight="90px">
    <mat-grid-tile
        [colspan]="12"
        [rowspan]="1">
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="1"
        [rowspan]="7">
    </mat-grid-tile>

    <mat-grid-tile
    [colspan]="7"
    [rowspan]="7"
    class="klasse">
        <app-field></app-field>
    </mat-grid-tile>
    
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="7">
</mat-grid-tile>

    <mat-grid-tile
    [colspan]="2"
    [rowspan]="7"
    class="klasse">
        <app-result></app-result>
    </mat-grid-tile>
    
</mat-grid-list>
